{%  extends "base.html" %}


{%  block content %}
{% include "_messages.html" %}
<div class="container">
    <div class="row">

        {% for book in pages.items %}

            <div class="col-4 mt-3">
                <div class="card text-center" style="width: 20rem; height: 20rem;">
                    <div class="card-body">
                        <p class="card-text">Book</p>
                        <h5 class="text-center">{{ book.title }}</h5>               
                        <p class="text-center"></p>          
                    </div>

                    <div>
                        <button type="button" class="btn btn-sm btn-outline-info mb-3">{{book.authors[0]}}</button>
                </div>
                    
                    <div class="card-footer">
                        <a href="{{url_for('update_book', id=book.id)}}"
                            class="float-center btn btn-sm btn-outline-info" style="width: 20em;">Edit</a>
                    </div>
                </div>
            </div>

        {% endfor %}

        <div class="container">
            <div class="row">
                <div class="col-4 mt-5"></div>
                    <div class="col-4 mt-5">
                        <nav >
                            <ul class="pagination">

                                {% if not pages.has_prev %}
                                    <li  class="page-item disabled" >
                                {% endif %}                              
                                        <a class="page-link" href="./?page={{ pages.prev_num }}" tabindex="-1">Previous</a>
                                    </li>

                                {% for page in pages.iter_pages() %}
                
                                {% if page==pages.page %}
                                    <li class="page-item active">
                                {% endif %}
                                    <a class="page-link" href="./?page={{ page }}">{{ page }}<span class="sr-only">(current)</span></a>
                                    </li>
                                    
                                {% endfor %}  


                                {% if not pages.has_next %}
                                    <li  class="page-item disabled" >
                                {% endif %}                              
                                        <a class="page-link" href="./?page={{ pages.next_num }}" >Next</a>
                                    </li>

                            </ul>
                        </nav>
                    </div>
                <div class="col-4 mt-5"></div>
            </div>       
        </div>
    </div>
</div>


{%  endblock %}